<div class="grid grid-7col">

    <div class="saves flexcol grid-span-2">
        <div class="dodge-block flexrow"><a class="dodge-button"
                data-dodge-value="system.abilities.finesse.value">Dodge</a><a class="block-button">Block</a></div>



        <div class="abilities flexcol">
            <div class="ability flexrow flexshrink flex-group-center">
                <aside class="flexlarge align-center"></aside>
                <label class="resource-label">Base</label>
                <span></span>
                <label class="resource-label">Bonus</label>
                <span></span>
            </div>
            <div class="ability flexrow flex-group-center">
                <label for="system.abilities.physique.value" class="resource-label rollable flexlarge align-center"
                    data-roll="@abilities.physique.mod" data-roll-type="diff"
                    data-label="physique.label">{{physique.label}}=</label>
                <input type="text" name="system.abilities.physique.value" value="{{physique.value}}"
                    data-dtype="Number" />
                <span></span>
                <input type="text" name="system.abilities.physique.bonus" value="{{physique.bonus}}"
                    data-dtype="Number" />
                <span></span>
            </div>

        </div>

    </div>
    <div class="items flexcol grid-span-5">
        <section>{{> "systems/kaiserschlacht/templates/actor/parts/actor-weapons.hbs"}}</section>
        <section>{{> "systems/kaiserschlacht/templates/actor/parts/actor-armor.hbs"}}</section>
        <section>{{> "systems/kaiserschlacht/templates/actor/parts/actor-items.hbs"}}</section>
    </div>

</div>