<div
  class="effect-bar"
  style="position: absolute;
top: 7px;
right: -1px;"
>
  {{#each statuses as |status id|}}
    <img class="item-image" src="icons/svg/skull.svg" width="30" height="30" />
  {{/each}}
</div>